@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  margin: 10px 25px;
}

nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom:50px;
}

nav ul {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap:30px;
}

input, textarea {
  color: black;
  margin:10px;
}

.title {
  background-color:transparent;
  color: white;
  font-size:20px;
  border-bottom:1px solid white;
}

.primary-button {
  background-color:darkslategrey;
  padding: 5px 10px;
  margin: 0 10px;
}

.secondary-button {
  background-color:darkred;
  padding: 5px 10px;
  margin: 0 10px;
}

.text-box {
  display: flex;
  align-items: center;
}

.hidden {
  display:none;
}

.visible {
  display:inline-block;
}

.split-text {
  float:right;
}
