@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  margin: 10px 25px;
}

nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom:50px;
}

h1 {
  font-size:20px;
  border-bottom:1px solid white;
}

nav ul {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap:30px;
}

input, textarea {
  color: black;
  margin:10px;
}

.title {
  margin-bottom:-20px;
}

.title input {
  background-color:transparent;
  color: white;
  font-size:14px;
}

.primary-button {
  background-color:darkslategrey;
  padding: 3px 10px;
  margin: 0 10px;
}

.secondary-button {
  background-color:darkred;
  padding: 2px 10px;
  margin: 0 10px;
}

.text-box {
  display: flex;
  align-items: center;
}

.hidden {
  display:none;
}

.visible {
  display:inline-block;
}

.split-text {
  float:right;
}

.split-text .flex {
  margin:10px 0;
}

.split-text input {
  background-color:transparent;
  color:white;
  border-bottom:1px solid white;
  width:fit-content;
}

@media only screen and (max-width: 650px) {
  nav {
    flex-direction:column;
    padding:0;
  }
  h1 {
    margin-bottom:20px;
  }
  nav ul {
    gap:0;
  }
  .primary-button, .secondary-button {
    padding:2px 4px;
    margin: 0 5px;
  }
  input, textarea, .split-text input {
    width:45%;
  }
  .primary-button > svg {
    pointer-events: none;
  }

}